/*Début animation*/

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump2 {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

.nouveau {
  animation: alertenouveau 3500ms ease-in-out;
  animation-iteration-count: infinite;
  @keyframes alertenouveau {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

@keyframes hello {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes check {
  0% {
    width: 0%;
  }

  100% {
    width: 25%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
