* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  h1,
  h5 {
    font-family: "Shrikhand";
  }
  h3 {
    width: 50px;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 5px;
    color: $color-grey;
    font-weight: 400;
  }
  i {
    color: $color-grey;
  }
  figure {
    margin: 0;
  }
}

body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  h2 {
    margin-left: 7%;
  }
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 240, 240);
  z-index: 100;
  animation: loader 6s;
  animation-fill-mode: both;
  @include desktop {
    font-size: 3.5rem;
  }
  @include tablette {
    font-size: 2.7rem;
  }
  :nth-child(1) {
    display: inline;
    color: red;
    font-family: "Shrikhand";
    animation: jump 1s;
  }

  :nth-child(2) {
    color: $color-secondary;
    font-family: "Shrikhand";
    animation: jump 1s;
    animation-delay: 0.25s;
  }
  :nth-child(3) {
    color: $color-mix;
    font-family: "Shrikhand";
    animation: jump 1s;
    animation-delay: 0.5s;
  }

  :nth-child(4) {
    @include boule;
    animation-delay: 0.75s;
  }
  :nth-child(5) {
    @include boule;
    animation-delay: 1s;
  }
  :nth-child(6) {
    @include boule;
    animation-delay: 1.25s;
  }
}

header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    position: absolute;
    top: 22px;
    left: 5%;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  line-height: 1.5;
  color: white;
  padding-bottom: 40px;
  @include desktop {
    display: flex;
    text-align: center;
  }
  h5 {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: lighter;
  }
  ul {
    padding: 0;
    @include desktop {
      @include footertabmobile;
      font-size: 1.2rem;
    }
    @include tablette {
      @include footertabmobile;
    }
    li {
      list-style: none;
      a,
      i {
        text-decoration: none;
        color: white;
        margin-right: 15px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
