.localisation {
  background-color: #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  p {
    padding-left: 15px;
    margin: 0;
    @include desktop {
      font-size: 1.4rem;
    }
  }
}

.accueil {
  display: flex;
  flex-direction: column;

  background-color: #f6f6f6;
  @include padding-léger;
  height: 230px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: space-evenly;
  .accueil__btn {
    @include button;
    width: 70%;
    @include desktop {
      width: 300px;
    }
  }
  h2 {
    margin: 0;
    font-size: 1.8rem;
    @include desktop {
      font-size: 2.2rem;
    }
  }
  p {
    @include desktop {
      font-size: 1.5rem;
    }
  }
}

.selection {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  .selection__liste {
    ol {
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      @include desktop {
        flex-direction: row;
        height: 60px;
      }
      li {
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        background-color: #f6f6f6;
        width: 90%;
        height: 70px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        @include shadow;
        @include desktop {
          width: 300px;
        }

        p {
          padding-left: 8%;
        }
        i {
          margin-left: 25px;
          font-size: 1.3rem;
        }
        span {
          @include numerostuto;
          position: relative;
          left: -10px;
        }
      }
    }
  }
}

.restaurants {
  padding-top: 20px;
  padding-bottom: 30px;
  .restaurants__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .restaurants__container__card {
      height: 270px;
      width: 90%;
      margin-bottom: 25px;
      background-color: white;
      border-radius: 25px;
      text-decoration: none;
      color: black;
      @include shadow;
      @include desktop {
        width: 40%;
      }
      img {
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 200px;
      }
      figcaption {
        height: 75px;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 88% 12%;
        align-items: center;
        padding-left: 20px;
        position: relative;
        span {
          position: absolute;
          width: 27%;
          height: 45%;
          background-color: $color-tertiary;
          color: darken($color-tertiary, 40%);
          right: 10px;
          bottom: 230px;
          border-radius: 3px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          @include desktop {
          }
        }
        h4 {
          grid-column: 1/1;
          grid-row: 1/1;
        }
        p {
          grid-column: 1/1;
          grid-row: 2/2;
          margin-top: -5px;
        }
        .coeur1 {
          @include coeur1;
        }
        .coeur2 {
          @include coeur2;
        }
      }
    }
  }
}
