

.localisation {
  background-color: #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  p {
    padding-left: 15px;
    margin: 0;
  }
}

.accueil {
  background-color: #f6f6f6;
  @include padding-léger;
  height: 250px;
  text-align: center;
  padding-top: 30px;
  .accueil__btn {
    @include button;
    width: 80%;
  }
  h2 {
    margin: 0;
    @include padding-léger;
  }
}

.selection {
  background-color: #fff;
  padding-top: 40px;
  .selection__liste {
    ol {
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      li {
        background-color: #f6f6f6;
        width: 90%;
        height: 70px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        p {
          padding-left: 7%;
        }
        i {
          margin-left: 25px;
          font-size: 1.2rem;
        }
        span {
          @include numerostuto;
          position: relative;
          left: -10px;
        }
      }
    }
  }
}

.restaurants {
  padding-top: 30px;
  padding-bottom: 30px;
  .restaurants__container {
    display: flex;
    flex-direction: column;
    .restaurants__container__card {
      height: 250px;
      width: 90%;
      margin: auto;
      margin-bottom: 25px;
      background-color: white;
      border-radius: 25px;
      text-decoration: none;
      color: black;
      img {
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 170px;
      }
      figcaption {
        height: 75px;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 85% 15%;
        align-items: center;
        padding-left: 20px;
        span {
          position: relative;
          width: 90px;
          height: 30px;
          background-color: $color-tertiary;
          color: darken($color-tertiary, 40%);
          right: 70px;
          bottom: 160px;
          border-radius: 3px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h4 {
          grid-column: 1/1;
          grid-row: 1/1;
        }
        p {
          grid-column: 1/1;
          grid-row: 2/2;
          margin-top: -5px;
        }
        i {
          grid-row: 1/1;
          align-self: flex-end;
          font-size: 1.5rem;
          font-weight: 100;
        }
      }
    }
  }
}
