@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  h1,
  h2,
  h5 {
    font-family: "Shrikhand";
  }
  h3 {
    width: 50px;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 5px;
    color: $color-grey;
    font-weight: 400;
  }
  i {
    color: $color-grey;
  }
  figure {
    margin: 0;
  }
}

body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
}

header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    position: absolute;
    top: 22px;
    left: 5%;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
}

#mainprincipal {
  margin-top: 0;
}

main {
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  position: relative;
  margin-top: -50px;
  .localisation {
    background-color: #eaeaea;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    p {
      padding-left: 15px;
      margin: 0;
    }
  }
  .accueil {
    background-color: #f6f6f6;
    @include padding-léger;
    height: 250px;
    text-align: center;
    padding-top: 30px;
    .accueil__btn {
      @include button;
      width: 80%;
    }
    h2 {
      margin: 0;
      @include padding-léger;
    }
  }
}

.restaurants {
  background-color: #f6f6f6;
  .restaurants__container {
    display: flex;
    flex-direction: column;
    .restaurants__container__card {
      height: 250px;
      width: 90%;
      margin: auto;
      margin-bottom: 25px;
      background-color: white;
      border-radius: 25px;
      text-decoration: none;
      color: black;
      figcaption {
        height: 75px;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 90% 10%;
        align-items: center;
        padding-left: 20px;
        h4 {
          grid-column: 1/1;
          grid-row: 1/1;
        }
        p {
          grid-column: 1/1;
          grid-row: 2/2;
          margin-top: -5px;
        }
        i {
          align-self: flex-end;
        }
      }
      img {
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 170px;
      }
    }
  }
}

.menu {
  background-color: #f6f6f6;
  margin-top: 0px;
  .menu__title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menu__sousmenu {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    .menu__sousmenu__card {
      background-color: #fff;
      height: 45px;
      margin-bottom: 15px;
      border-radius: 15px;
      padding: 10px 10px 10px 10px;

      .menu__sousmenu__card__grid {
        height: 100%;
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: c;
      }
      .menu__sousmenu_card__grid_intitulé {
        grid-column: 1/1;
        font-size: 0.9rem;
        font-weight: 300;
        margin: 0;
      }
      .menu__sousmenu__card__grid__prix {
        grid-column: 2/2;
        font-weight: bold;
        margin: 0;
      }
      h4 {
        margin: 0;
        font-weight: 1000;
      }
    }
  }
  .menu__btn {
    @include button;
    margin-bottom: 50px;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  line-height: 1.5;
  color: white;
  h5 {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      a,
      i {
        text-decoration: none;
        color: white;
        margin-right: 15px;
      }
    }
  }
}
