.menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  position: relative;
  margin-top: -50px;
  @include desktop {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    align-items: center;
    @include animationmenu;
  }
  h2 {
    font-family: "Shrikhand";
    @include desktop {
      padding-right: 50px;
    }
  }
  .menu__btn {
    @include button;
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
    @include desktop {
      grid-column: 2/2;
      grid-row: 3/3;
      margin: 0;
    }
  }
  .menu__title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    .coeur3 {
      @include coeur3;
      &:hover {
        transition: 750ms;
        opacity: 0;
      }
    }
    .coeur4 {
      @include coeur4;
    }
    @include desktop {
      grid-row: 1/1;
      grid-column: 2/3;
      white-space: nowrap;
    }
  }
  .menu__sousmenu {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    @include animationmenu;
    @include desktop {
      grid-row: 2/2;
      margin: 0;
    }
    .menu__sousmenu__card {
      background-color: #fff;
      height: 65px;
      padding-left: 20px;

      margin-bottom: 15px;
      border-radius: 15px;
      display: flex;

      &:hover {
        cursor: pointer;
        .menu__sousmenu__card__check {
          display: flex;
          animation: check 0.5s;
        }
        i {
          animation: rotate 0.75s;
        }
      }
      .menu__sousmenu__card__grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 50% 40%;
        align-items: center;
        .menu__sousmenu_card__grid_intitulé {
          grid-column: 1/1;
          font-size: 1rem;
          font-weight: 400;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 10px;
        }
        .menu__sousmenu__card__grid__prix {
          grid-column: 2/2;
          font-weight: bold;
          margin: 0;
        }
        h4 {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .menu__sousmenu__card__check {
        width: 25%;
        background-color: #8edec9;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        i {
          color: white;
        }
      }
    }
  }
}
