$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-grey: #3a3a3a;
$color-mix: #750f57;

@mixin padding-léger {
  padding: 0 10% 0 10%;
}

@mixin shadow {
  box-shadow: 0px 10px 20px #cccccc;
}

@mixin button {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 25px;
  background: linear-gradient($color-secondary, $color-primary);
  color: white;
  @include shadow;
}

@mixin numerostuto {
  background-color: $color-primary;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin tablette {
  @media screen and (min-width: 651px) and (max-width: 1024px) {
    @content;
  }
}

@mixin footertabmobile {
  display: flex;
  justify-content: space-evenly;
}

@mixin taillecoeur {
  font-size: 1.5rem;
  @include tablette {
    font-size: 1.8rem;
  }
  @include desktop {
    font-size: 2rem;
  }
}

@mixin boule {
  margin-left: 15px;
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  animation: jump2 1500ms;
  animation-iteration-count: infinite;
}
