$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-grey: #3a3a3a;

@mixin padding-léger {
  padding: 0 10% 0 10%;
}

@mixin button {
  width: 50%;
  margin: auto;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 25px;
  background: linear-gradient($color-secondary, $color-primary);
  color: white;
}

@mixin numerostuto {
  background-color: $color-primary;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
